body {
    font-family: "Myriad Pro", "Myriad", Helvetica, Arial, sans-serif;
    font-size: 12pt;
    margin: 0px;
}

h1 {
    font-family: Helvetica, Arial, sans-serif;
}

/*** Overall page layout ***/

#page {
    position: absolute;
    top: 80px;
    bottom: 100px;
    left: 0px;
    right: 0px;
    margin: 20px;
    margin: 20px;
}

#wrapper {
    margin: auto;
    max-width: 1280px;
    height: 100%;
}

#roomName {
    max-width: 1280px;
    width: 100%;
    text-align: right;
    top: -40px;
    position: absolute;
    font-size: 16pt;
    margin-bottom: 10px;
}

#controlPanel {
    position: absolute;
    bottom: 0px;
    width: 100%;
    background-color: #f8f8f8;
    border-top: #aaa 1px solid;
}

#controls {
    max-width: 1280px;
    padding: 12px;
    margin: auto;
}

#inputBarTable {
    width: 100%;
}

#inputBarTable tr td {
    padding: 1px 4px;
}

#mainInput {
    width: 100%;
}

.blink {
    background-color: #faa;
}

/*** Participant list ***/

#usersTableWrapper {
    float: right;
    width: 120px;
    height: 100%;
    overflow-y: auto;
}

#usersTable {
    width: 100%;
    border-collapse: collapse;
}

#usersTable td {
    padding: 0px;
}

.userAvatar {
    width: 80px;
    height: 100px;
    position: relative;
    background-color: #000;
}

.userAvatar .userAvatarImage {
    position: absolute;
    top: 0px;
    object-fit: cover;    
}

.userAvatar .userAvatarGradient {
    position: absolute;
    bottom: 20px;
}

.userAvatar .userName {
    position: absolute;
    color: #fff;
    margin: 2px;
    bottom: 0px;
    font-size: 8pt;
    word-wrap: break-word;
}

.userPresence {
    text-align: center;
    font-size: 8pt;
    color: #fff;
    background-color: #aaa;
    border-bottom: 1px #ddd solid;
}

.online {
    background-color: #38AF00;
}

.unavailable {
    background-color: #FFCC00;
}

/*** Message table ***/

#messageTableWrapper {
    height: 100%;
    margin-right: 140px;
    overflow-y: auto;
    width: auto;
}

#messageTable {
    margin: auto;
    max-width: 1280px;
    width: 100%;
    border-collapse: collapse;
}
        
#messageTable td {
    padding: 0px;
}

.leftBlock {
    width: 1px;
    vertical-align: top;
    background-color: #fff;
    color: #888;
    font-weight: medium;
    font-size: 8pt;
    text-align: right;
    border-top: 1px #ddd solid;
}

.rightBlock {
    width: 32px;
    color: #888;
    line-height: 0;
    vertical-align: top;
}        

.sender, .timestamp {
    padding-right: 1em;
    padding-left: 1em;
    padding-top: 3px;
}

.sender {
    margin-bottom: -3px;
}

.avatar {
    width: 48px;
    text-align: right;
    vertical-align: top;
    line-height: 0;
}

.avatarImage {
    object-fit: cover;
}
        
.text {
    background-color: #eee;
    border: 1px solid #d8d8d8;
    height: 32px;
    display: inline-table;
    max-width: 90%;
    word-wrap: break-word;
    word-break: break-all;
}

.emote {
    background-color: #fff ! important;
    border: 0px ! important;
}

.image {
    display: block;
    max-width:320px;
    max-height:320px;
    width: auto;
    height: auto;
}

.bubble {
    padding: 6px;
    padding-left: 1em;
    padding-right: 1em;
}

.mine {
    text-align: right;
}

.mine .text .bubble {
    text-align: left ! important;
    background-color: #d8d8e8 ! important;
}

.mine .emote .bubble {
    background-color: #fff ! important;
}

/*** Profile ***/

.profile-avatar {
    width: 160px;
    height: 160px;
    display:table-cell;
    vertical-align: middle;
}

.profile-avatar img {
    max-width: 100%;
    max-height: 100%;
}

/******************************/

#header {
    padding-left: 20px;
    padding-right: 20px;
    max-width: 1280px;
    margin: auto;
}

#header-buttons {
    float: right;
}

#config {
    position: absolute;
    z-index: 100;
    top: 100px;
    left: 50%;
    width: 400px;
    margin-left: -200px;
    text-align: center;
    padding: 20px;
    background-color: #aaa;
}

.text_entry_section {
    position: fixed;
    bottom: 0;
    z-index: 100;
    left: 0;
    right: 10em;
    width: 100%;
    background: #e0e0e0;
}

.member_invited {
    color: blue;
}

.member_joined {

}

.member_left {
    color: gray;
}
