/*** Mobile voodoo ***/
@media all and (max-device-width: 640px) {
            
    #messageTableWrapper {
        margin-right: 0px ! important;
    }
    
    .leftBlock {
        width: 8em ! important;
        font-size: 8px ! important;
    }
    
    .rightBlock {
        width: 0px ! important;
        display: none ! important;
    }
    
    .avatar {
        width: 36px ! important;
    }
    
    #header,
    #messageTable,
    #wrapper,
    #roomName,
    #controls {
        max-width: 640px ! important;
    }    
    
    #userIdCell,
    #usersTableWrapper,
    #extraControls {
        display: none;
    }
    
    #buttonsCell {
        width: 60px ! important;
        padding-left: 20px ! important;
    }
    
    #roomLogo {
        display: none;
    }
    
    #roomName {
        text-align: left ! important;
        top: -35px ! important;
    }
    
    .bubble {
        font-size: 12px ! important;
        min-height: 20px ! important;
    }
    
    #page {
        top: 35px ! important;
        bottom: 70px ! important;
    }
    
    #header,
    #page {
        margin: 5px ! important;
    }
    
    #header {
        padding: 5px ! important;
    }
        
    /* stop zoom on select */
    select:focus,
    textarea,
    input
    {
        font-size: 16px ! important;
    }
    
}

body {
    font-family: "Myriad Pro", "Myriad", Helvetica, Arial, sans-serif;
    font-size: 12pt;
    margin: 0px;
}

h1 {
    font-family: Helvetica, Arial, sans-serif;
}

/*** Overall page layout ***/

#page {
    position: absolute;
    top: 80px;
    bottom: 100px;
    left: 0px;
    right: 0px;
    margin: 20px;
}

#wrapper {
    margin: auto;
    max-width: 1280px;
    height: 100%;
}

#roomName {
    max-width: 1280px;
    width: 100%;
    text-align: right;
    top: -40px;
    position: absolute;
    font-size: 16px;
}

#controlPanel {
    position: absolute;
    bottom: 0px;
    width: 100%;
    background-color: #f8f8f8;
    border-top: #aaa 1px solid;
}

#controls {
    max-width: 1280px;
    padding: 12px;
    margin: auto;
}

#buttonsCell {
    width: 150px;
}

#inputBarTable {
    width: 100%;
}

#inputBarTable tr td {
    padding: 1px 4px;
}

#mainInput {
    width: 100%;
}

.blink {
    background-color: #faa;
}

.mouse-pointer {
    cursor: pointer;
}

/*** Participant list ***/

#usersTableWrapper {
    float: right;
    width: 120px;
    height: 100%;
    overflow-y: auto;
}

#usersTable {
    width: 100%;
    border-collapse: collapse;
}

#usersTable td {
    padding: 0px;
}

.userAvatar {
    width: 80px;
    height: 100px;
    position: relative;
    background-color: #000;
}

.userAvatar .userAvatarImage {
    position: absolute;
    top: 0px;
    object-fit: cover;    
}

.userAvatar .userAvatarGradient {
    position: absolute;
    bottom: 20px;
}

.userAvatar .userName {
    position: absolute;
    color: #fff;
    margin: 2px;
    bottom: 0px;
    font-size: 12px;
    word-break: break-all;
}

.userPresence {
    text-align: center;
    font-size: 12px;
    color: #fff;
    background-color: #aaa;
    border-bottom: 1px #ddd solid;
}

.online {
    background-color: #38AF00;
}

.unavailable {
    background-color: #FFCC00;
}

/*** Message table ***/

#messageTableWrapper {
    height: 100%;
    margin-right: 140px;
    overflow-y: auto;
    width: auto;
}

#messageTable {
    margin: auto;
    max-width: 1280px;
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
}
        
#messageTable td {
    padding: 0px;
}

.leftBlock {
    width: 14em;
    word-wrap: break-word;
    vertical-align: top;
    background-color: #fff;
    color: #888;
    font-weight: medium;
    font-size: 12px;
    text-align: right;
    border-top: 1px #ddd solid;
}

.rightBlock {
    width: 32px;
    color: #888;
    line-height: 0;
    vertical-align: top;
}        

.sender, .timestamp {
    padding-right: 1em;
    padding-left: 1em;
    padding-top: 3px;
}

.sender {
    margin-bottom: -3px;
}

.avatar {
    width: 48px;
    text-align: right;
    vertical-align: top;
    line-height: 0;
}

.avatarImage {
    object-fit: cover;
}
        
.emote {
    background-color: transparent ! important;
    border: 0px ! important;
}

.membership {
    background-color: transparent ! important;
    border: 0px ! important;
}

.image {
    display: block;
    max-width:320px;
    max-height:320px;
    width: auto;
    height: auto;
}

.text {
    vertical-align: top;
}

.bubble {
    background-color: #eee;
    border: 1px solid #d8d8d8;
    display: inline-block;
    margin-bottom: -1px;
    max-width: 90%;
    font-size: 16px;
    word-wrap: break-word;
    padding-top: 7px;
    padding-bottom: 5px;
    padding-left: 1em;
    padding-right: 1em;
    vertical-align: middle;
    -webkit-text-size-adjust:100%
}

.differentUser td {
    padding-bottom: 5px ! important;
}

.mine {
    text-align: right;
}

.text.emote .bubble,
.text.membership .bubble,
.mine .text.emote .bubble,
.mine .text.membership .bubble
  {
    background-color: transparent ! important;    
    border: 0px ! important;
}

.mine .text .bubble {
    background-color: #f8f8ff ! important;    
    text-align: left ! important;
}

#room-fullscreen-image {
    position: absolute;
    top: 0px;
    height: 0px;
    width: 100%;
    height: 100%;
}

#room-fullscreen-image img {
    max-width: 100%;
    max-height: 100%;
    bottom: 0;
    left: 0;
    margin: auto;
    overflow: auto;
    position: fixed;
    right: 0;
    top: 0;
}

/*** Recents ***/
.recentsTable {
    max-width: 480px;
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
}

.recentsTable tr {
    width: 100%;
}
.recentsTable td {
    vertical-align: text-top;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.recentsRoom {
    cursor: pointer;
}

.recentsRoom:hover {
    background-color: #f8f8ff;
}

.recentsRoomSelected {
    background-color: #eee;
}

.recentsRoomName {
    font-size: 16px;
    padding-top: 7px;
    width: auto;
}

.recentsRoomSummaryTS {
    color: #888;
    font-size: 12px;
    width: 7em;
    text-align: right;
}

.recentsRoomSummary {
    color: #888;
    font-size: 12px;
    padding-bottom: 5px;
}

/*** Recents in the room page ***/
#roomRecentsTableWrapper {
    float: left;
    max-width: 320px;
    margin-right: 20px;
    height: 100%;
    overflow-y: auto;
}

/*** Profile ***/

.profile-avatar {
    width: 160px;
    height: 160px;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.profile-avatar img {
    max-width: 100%;
    max-height: 100%;
}

/*** User profile page ***/
#user-ids {
    padding-left: 1em;
}

#user-displayname {
    font-size: 24px;
}
/******************************/

#header
{
    padding: 20px;
    max-width: 1280px;
    margin: auto;
}

#logo,
#roomLogo {
    max-width: 1280px;
    margin: auto;
}

#header-buttons {
    float: right;
}

.text_entry_section {
    position: fixed;
    bottom: 0;
    z-index: 100;
    left: 0;
    right: 10em;
    width: 100%;
    background: #e0e0e0;
}

.member_invited {
    color: blue;
}

.member_joined {

}

.member_left {
    color: gray;
}
