<!doctype html>
<html xmlns:ng="http://angularjs.org" ng-app="matrixWebClient" ng-controller="MatrixWebClientController">
<head>
    <title>[matrix]</title>
        
    <link rel="stylesheet" href="app.css">
    <link rel="stylesheet" href="mobile.css">
    
    <link rel="icon" href="favicon.ico">
   
    <meta name="viewport" content="width=device-width">
   
    <script type='text/javascript' src='js/jquery-1.8.3.min.js'></script>
    <script type="text/javascript" src="http://www.google.com/recaptcha/api/js/recaptcha_ajax.js"></script> 
    <script src="js/angular.min.js"></script>
    <script src="js/angular-route.min.js"></script>
    <script src="js/angular-sanitize.min.js"></script>
    <script type='text/javascript' src='js/ng-infinite-scroll-matrix.js'></script>
    <script src="app.js"></script>
    <script src="app-controller.js"></script>
    <script src="app-directive.js"></script>
    <script src="app-filter.js"></script>
    <script src="home/home-controller.js"></script>
    <script src="login/login-controller.js"></script>
    <script src="login/register-controller.js"></script>
    <script src="recents/recents-controller.js"></script>
    <script src="recents/recents-filter.js"></script>
    <script src="room/room-controller.js"></script>
    <script src="room/room-directive.js"></script>
    <script src="settings/settings-controller.js"></script>
    <script src="user/user-controller.js"></script>
    <script src="components/matrix/matrix-service.js"></script>
    <script src="components/matrix/matrix-filter.js"></script>
    <script src="components/matrix/matrix-call.js"></script>
    <script src="components/matrix/matrix-phone-service.js"></script>
    <script src="components/matrix/event-stream-service.js"></script>
    <script src="components/matrix/event-handler-service.js"></script>
    <script src="components/matrix/presence-service.js"></script>
    <script src="components/fileInput/file-input-directive.js"></script>
    <script src="components/fileUpload/file-upload-service.js"></script>
    <script src="components/utilities/utilities-service.js"></script>
</head>

<body>

    <div id="header">
        <!-- Do not show buttons on the login page -->
        <div id="headerContent" ng-hide="'/login' == location || '/register' == location">
            <div id="callBar">
                <div ng-show="currentCall.state == 'ringing'">
                Incoming call from {{ currentCall.user_id }}
                <button ng-click="answerCall()">Answer</button>
                <button ng-click="hangupCall()">Reject</button>
                </div>
                <button ng-click="hangupCall()" ng-show="currentCall && currentCall.state != 'ringing' && currentCall.state != 'ended' && currentCall.state != 'fledgling'">Hang up</button>
                <span ng-show="currentCall.state == 'invite_sent'">Calling...</span>
                <span ng-show="currentCall.state == 'connecting'">Call Connecting...</span>
                <span ng-show="currentCall.state == 'connected'">Call Connected</span>
                <span ng-show="currentCall.state == 'ended'">Call Ended</span>
                <span style="display: none; ">{{ currentCall.state }}</span>
            </div>
            <a href id="headerUserId" ng-click='goToUserPage(user_id)'>{{ user_id }}</a>
            &nbsp;
            <button ng-click='goToPage("/")'>Home</button>
            <button ng-click='goToPage("settings")'>Settings</button>
            <button ng-click="logout()">Log out</button>
        </div>
    </div>

    <div id="page" ng-view></div>

    <div id="footer" ng-hide="location.indexOf('/room') == 0">
        <div id="footerContent">
            &copy; 2014 Matrix.org
        </div>
    </div>
</body>
</html>
