<!doctype html>
<html xmlns:ng="http://angularjs.org" ng-app="matrixWebClient" ng-controller="MatrixWebClientController">
<head>
    <title>[matrix]</title>
    
    <link rel="stylesheet" href="app.css">
    <link rel="icon" href="favicon.ico">
    
    <script src="js/angular.js"></script>
    <script src="js/angular-route.js"></script>
    <script src="app.js"></script>
    <script src="app-controller.js"></script>
    <script src="login/login-controller.js"></script>
    <script src="room/room-controller.js"></script>
    <script src="rooms/rooms-controller.js"></script>
    <script src="components/matrix/matrix-service.js"></script>
</head>

<body>

    <header class="header">
        <!-- Do not show buttons on the login page -->
        <div class="header-buttons" ng-hide="'/login' == location ">
            <button ng-click="showConfig()">Config</button>
            <button ng-click="logout()">Log out</button>
        </div>

        <h1>[matrix]</h1>
    </header>

    <div class="config" ng-hide="!config">
        <div>Home server: {{ config.homeserver }} </div>
        <div>User ID: {{ config.user_id }} </div>
        <div>Access token: {{ config.access_token }} </div>
    </div>


    <div ng-view></div>

</body>
</html>
