<div ng-controller="UserController" class="user">

    <div id="wrapper">

        <div id="genericHeading">
            <a href ng-click="goToPage('/')"><img src="img/logo-small.png" width="100" height="43" alt="[matrix]"/></a>
        </div>

        <h1>{{ user.displayname || user.id }}</h1>

        <div>
            <div class="profile-avatar">
                <img ng-src="{{ user.avatar_url || 'img/default-profile.png' }}"/>
            </div>
            <div id="user-ids">
                <div>{{ user.id }}</div>                        
            </div>
        </div>

        <button ng-hide="user.id == user_id" ng-click="messageUser()" style="font-size: 14pt; margin-top: 40px; margin-bottom: 40px">Start chat</button>
        <br/>
        {{ feedback }}

    </div>
</div>
