# ignore everything by default
*

# things to include
!docker
!synapse
!README.rst
!pyproject.toml
!poetry.lock

# TODO: remove these once we have moved over to using poetry-core in pyproject.toml
!MANIFEST.in
!setup.py

**/__pycache__
