*.pyc
.*.swp

.DS_Store
_trial_temp/
logs/
dbs/
*.egg
dist/
docs/build/
*.egg-info

cmdclient_config.json
homeserver*.db
homeserver*.log
homeserver*.pid
homeserver*.yaml

*.signing.key
*.tls.crt
*.tls.dh
*.tls.key

.coverage
htmlcov

demo/*/*.db
demo/*/*.log
demo/*/*.log.*
demo/*/*.pid
demo/media_store.*
demo/etc

uploads

.idea/
media_store/

*.tac

build/

localhost-800*/
static/client/register/register_config.js
.tox

env/
*.config

.vscode/
