*.pyc
.*.swp

_trial_temp/
logs/
dbs/
*.egg
dist/
docs/build/
*.egg-info

cmdclient_config.json
homeserver*.db

.coverage
htmlcov

demo/*.db
demo/*.log
demo/*.pid
demo/etc

graph/*.svg
graph/*.png
graph/*.dot

uploads
