include synctl
include LICENSE
include VERSION
include *.rst
include demo/README

recursive-include synapse/storage/schema *.sql

recursive-include demo *.dh
recursive-include demo *.py
recursive-include demo *.sh
recursive-include docs *
recursive-include scripts *
recursive-include tests *.py
