input[type="text"] {
  font-size: 100%;
  background-color: #ededf0;
  border: 1px solid #fff;
  border-radius: .2em;
  padding: .5em .9em;
  display: block;
  width: 26em;
}

.button--disabled {
  border-color: #fff;
  background-color: transparent;
  color: #000;
  text-transform: none;
}

.hidden {
  display: none;
}

.tooltip {
  background-color: #f9f9fa;
  padding: 1em;
  margin: 1em 0;
}

