{% include "fragments/header.html" without context %}

<!-- Confirm it's you -->

<header>
    <h1>Confirm it's you to continue</h1>
    <p>
        A client is trying to {{ description }}. To confirm this action
        re-authorize your account with single sign-on.
    </p>
    <p><strong>
        If you did not expect this, your account may be compromised.
    </strong></p>
</header>
<main>
    <a href="{{ redirect_url }}" class="primary-button">
        Continue with {{ idp.idp_name }}
    </a>
</main>
<style type="text/css">
    {% include "static/css/sso.css" without context %}
</style>
{% include "sso_footer.html" without context %}

{% include "includes/footer.html" without context %}