<div ng-controller="HomeController" data-ng-init="onInit()">

    <div id="wrapper">
    
    <div id="genericHeading">
        <a href ng-click="goToPage('/')"><img src="img/logo-small.png" width="100" height="43" alt="[matrix]"/></a>
    </div>
    
    <h1>Welcome to homeserver {{ config.homeserver }}</h1>
    
    <div>
        <div class="profile-avatar">
            <img ng-src="{{ (null !== profile.avatarUrl) ? profile.avatarUrl : 'img/default-profile.png' }}"/>
        </div>
        <div id="user-ids">
            <div id="user-displayname">{{ profile.displayName }}</div>
            <div>{{ config.user_id }}</div>
        </div>
    </div>
        
    <h3>Recent conversations</h3>
        <div ng-include="'recents/recents.html'"></div>
    <br/>

    <h3>Public rooms</h3>
    
    <table class="publicTable">
        <tbody ng-repeat="room in public_rooms | orderBy:'room_display_name'"
               class="publicRoomEntry"
               ng-class="room.room_display_name.toLowerCase().indexOf('#matrix:') === 0 ? 'roomHighlight' : ''">
            <tr>
                <td class="publicRoomEntry">
                    <a href="#/room/{{ room.room_alias ? room.room_alias : room.room_id }}"  >
                        {{ room.room_display_name }}
                    </a>
                </td>
                <td>
                    <div class="publicRoomJoinedUsers"
                         ng-show="room.num_joined_members">
                        {{ room.num_joined_members }} {{ room.num_joined_members == 1 ? 'user' : 'users' }}
                    </div>
                </td>
            </tr>
            <tr>
                <td colspan="2" class="publicRoomTopic">
                    {{ room.topic }}
                </td>
            </tr>
        </tbody>
    </table>
    <br/>
    
    <div>
        <form>
            <input size="40" ng-model="newRoom.room_alias" ng-enter="createNewRoom(newRoom.room_alias, newRoom.private)" placeholder="(e.g. foo)"/>
            <input type="checkbox" ng-model="newRoom.private">private
            <button ng-disabled="!newRoom.room_alias" ng-click="createNewRoom(newRoom.room_alias, newRoom.private)">Create room</button>    
        </form>
    </div>
    <div>
        <form>
            <input size="40" ng-model="joinAlias.room_alias" ng-enter="joinAlias(joinAlias.room_alias)" placeholder="(e.g. #foo:example.org)"/>
            <button ng-disabled="!joinAlias.room_alias" ng-click="joinAlias(joinAlias.room_alias)">Join room</button>    
        </form>
    </div>
    <div>
        <form>
            <input size="40" ng-model="newChat.user" ng-enter="messageUser()" placeholder="e.g. @user:domain.com"/>
            <button ng-disabled="!newChat.user" ng-click="messageUser()">Message user</button>
        </form>
    </div>
    
    <br/>
    
    {{ feedback }}

    </div>    
</div>
