<div ng-controller="LoginController" class="login">    
    <div id="wrapper" class="loginWrapper">
        
        <a href ng-click="goToPage('/')">
        <img src="img/logo.png" width="240" height="102" alt="[matrix]" style="padding: 50px"/>
        </a>
    
        <br/>

        <form id="loginForm" novalidate>
            <!-- Login with an registered user -->
            <div>
                Log in using:<br/>
                
                <div ng-repeat="type in login_types">
                <input type="radio" ng-model="$parent.login_type" value="{{ type }}" id="radio_{{ type }}"/>
                <label for="radio_{{ type }}">{{ login_type_label[type] }}</label>
                </div>
                    
                <div style="text-align: center">
                    <br/>
                    <input id="user_id" size="32" type="text" ng-focus="true" ng-model="account.user_id" placeholder="{{ login_type_label[login_type] }}"/>
                    <br/>
                    <input id="password" size="32" type="password" ng-model="account.password" placeholder="Password"/>
                    <br/><br/>
                    <button id="login" ng-click="login()" ng-disabled="!account.user_id || !account.password || !account.homeserver">Login</button>
                    <br/><br/>
                </div>

                <div class="feedback">{{ feedback }} {{ login_error_msg }}</div>
                
                <div id="serverConfig">
                    <label for="homeserver">Home Server:</label> 
                    <input id="homeserver" size="32" type="text" ng-model="account.homeserver" placeholder="URL (e.g. http://matrix.org:8080)"/>
                    <div class="smallPrint">Your home server stores all your conversation and account data.</div>
                    <label for="identityServer">Identity Server:</label>
                    <input id="identityServer" size="32" type="text" ng-model="account.identityServer" placeholder="URL (e.g. http://matrix.org:8090)"/>
                    <div class="smallPrint">Matrix provides identity servers to track which emails etc. belong to which Matrix IDs.<br/>
                        Only http://matrix.org:8090 currently exists.</div>
                    <br/>
                    <br/>
                    <a href="#/register" style="padding-right: 0em">Create account</a>
                    <a href="#/reset_password" style="display: none; ">Forgotten password?</a>
                </div>
            </div>
        </form>

    </div>
    </div>
</div>
