
server_name: {{ server_name }}

report_stats: false

signing_key_path: "{{ worker_dir }}/../signing.key"

macaroon_secret_key: "{{ macaroon_secret_key }}"

enable_registration: true

redis:
  enabled: true
  #host: localhost
  #port: 6379

trusted_key_servers: []

listeners:
  - port: 8080
    bind_address: {{ workers_by_name.main.ip }}
    type: http
    resources:
      - names: [client, federation]

  # The HTTP replication port
  - port: 9090
    bind_address: {{ workers_by_name.main.ip }}
    type: http
    resources:
      - names: [replication]

database:
  name: psycopg2
  args:
    # Comment out user, password and host to use UNIX socket auth.
    # For testing, create a database owned by your Postgres user that is logged
    # in with your UNIX user
    #user: "synapse"
    #password:
    database: "{{ server_name }}"
    #host: "localhost"
    cp_min: 5
    cp_max: 10

instance_map:
{%- for worker in all_workers %}
  {{ worker.name }}:
    host: {{ worker.ip }}
    port: 9090
{%- endfor %}

stream_writers:
  events:
{%- for worker in all_workers %}
{%- if worker.kind == "event_persister" %}
    - {{ worker.name }}
{%- endif %}
{%- endfor %}
  typing:
{%- for worker in all_workers %}
{%- if worker.kind == "typing" %}
    - {{ worker.name }}
{%- endif %}
{%- endfor %}


start_pushers: false

pusher_instances:
{% for worker in all_workers -%}
{%- if worker.kind == "pusher" %}
    - {{ worker.name }}
{%- endif %}
{%- endfor %}

notify_appservices: False

federation_sender_instances:
{% for worker in all_workers -%}
{%- if worker.kind == "federation_sender" %}
    - {{ worker.name }}
{% endif -%}
{% endfor %}

enable_media_repo: False

media_instance_running_background_jobs: "media1"

update_user_directory: False

pid_file: "{{ logs_dir }}/main.pid"

log_config: '{{ worker_dir }}.logging/main.logging.yaml'

run_background_tasks_on: background_worker1
