<!doctype html>
<html lang="en">
    <head>
        <style type="text/css">
            {% include 'mail.css' without context %}
        </style>
    </head>
    <body>
        <div id="page">
            <div class="header">
                <img class="logo" src="http://matrix.org/img/vector-logo-email.png" width="64" height="83" alt="Vector"/>
                <div class="salutation">Hi {{ user_display_name }},</div>
                <div class="summarytext">{{ summary_text|replace("%app%", "Vector") }}</div>
            </div>
            <div class="content">
                {% for room in rooms %}
                    {% include 'room.html' with context %}
                {% endfor %}
            </div>
            <div class="footer">
                <a href="{{ unsubscribe_link }}">Unsubscribe</a>
            </div>
        </div>
    </body>
</html>
