<div ng-controller="SettingsController" class="user" data-ng-init="onInit()">

    <div id="page">
    <div id="wrapper">
        
        <h3>Me</h3>
        <div class="section">
            <form>
                <div class="profile-avatar">
                    <img ng-src="{{ (null !== profile.avatarUrl) ? profile.avatarUrl : 'img/default-profile.jpg' }}" m-file-input="profile.avatarFile"/>
                </div>
                <div id="user-ids">
                    <input size="40" ng-model="profile.displayName" placeholder="Your name"/>            
                    <button ng-disabled="(profile.displayName == profileOnServer.displayName) && (profile.avatarUrl == profileOnServer.avatarUrl)"
                            ng-click="saveProfile()">Save</button>    
                </div>
            </form>
        </div>
        <br/>

        <h3>Linked emails</h3>
        <div class="section">
            <form>
                <input size="40" ng-model="linkedEmails.linkNewEmail" ng-enter="linkEmail(linkedEmails.linkNewEmail)" />
                <button ng-disabled="!linkedEmails.linkNewEmail" ng-click="linkEmail(linkedEmails.linkNewEmail)">
                    Link Email
                </button>
                {{ emailFeedback }}    
            </form>
            <form ng-hide="!linkedEmails.emailBeingAuthed">
                Enter validation token for {{ linkedEmails.emailBeingAuthed }}:
                <br />
                <input size="20" ng-model="linkedEmails.emailCode" ng-enter="submitEmailCode(linkedEmails.emailCode)" />
                <button ng-disabled="!linkedEmails.emailCode || !linkedEmails.linkNewEmail" ng-click="submitEmailCode(linkedEmails.emailCode)">
                    Submit Code
                </button>   
            </form>
            <table>
                <tr ng-repeat="(address, info) in linkedEmails.linkedEmailList">
                    <td>{{address}}</td>
                </tr>
            </table>
        </div>
        <br/>
        
        <h3>Desktop notifications</h3>
        <div class="section" ng-switch="settings.notifications">
            <div ng-switch-when="granted">
                Notifications are enabled.
            </div>
            <div ng-switch-when="denied">
                You have denied permission for notifications.<br/>
                To enable it, reset the notification setting for this web site into your browser settings.
            </div>
            <div ng-switch-when="default">
                <button ng-click="requestNotifications()">Click here to enable them</button>
            </div>
            <div ng-switch-default="">
                Sorry, your browser does not support notifications.
            </div>
        </div>
        <br/>
        
        <h3>Configuration</h3>
        <div class="section">
            <div>Home server: {{ config.homeserver }} </div>
            <div>Identity server: {{ config.identityServer }} </div>
            <div>User ID: {{ config.user_id }} </div>
            <div>Access token: {{ config.access_token }} </div>
        </div>
        <br/>

        {{ feedback }}

    </div>    
    </div>
</div>
