.room_avatar {
    width: 48px;
    height: 48px;
    float: left;
}

.room_content {
    clear: left;
}

.historical {
    color: #888;
}

.sender_name  {
    display: inline;
}

.message_time  {
    display: inline;
}
