<!doctype html>
<html lang="en">
    <head>
        <style type="text/css">
            {% include 'mail.css' without context %}
        </style>
    </head>
    <body>
        <div id="page">
            <div className="salutation">Hi {{ user_display_name }},</div>
            <div className="summarytext">{{ summary_text|replace("%app%", "Matrix") }}</div>
            <div class="content">
                {% for room in rooms %}
                    {% include 'room.html' with context %}
                {% endfor %}
            </div>
            <div class="footer">
                <a href="{{ unsubscribe_link }}">Unsubscribe</a>
            </div>
        </div>
    </body>
</html>
