<div ng-controller="RoomController" data-ng-init="onInit()" class="room" style="height: 100%;">

    <div id="roomHeader">
        <a href ng-click="goToPage('/')"><img src="img/logo-small.png" width="100" height="43" alt="[matrix]"/></a>
        <div id="roomName">
            {{ room_id  | mRoomName }}
        </div>
    </div>

    <div id="roomPage">
    <div id="roomWrapper">
        
    <div id="roomRecentsTableWrapper">
        <div ng-include="'recents/recents.html'"></div>
    </div>

    <div id="usersTableWrapper">
        <table id="usersTable">
            <tr ng-repeat="member in members | orderMembersList">
                <td class="userAvatar mouse-pointer" ng-click="$parent.goToUserPage(member.id)" ng-class="member.membership == 'invite' ? 'invited' : ''">
                    <img class="userAvatarImage" 
                         ng-src="{{member.avatar_url || 'img/default-profile.png'}}" 
                         alt="{{ member.displayname || member.id.substr(0, member.id.indexOf(':')) }}"
                         title="{{ member.id }}"
                         width="80" height="80"/>
                    <img class="userAvatarGradient" src="img/gradient.png" title="{{ member.id }}" width="80" height="24"/>
                    <div class="userPowerLevel" ng-style="{'width': member.powerLevelNorm +'%'}"></div>
                    <div class="userName">{{ member.displayname || member.id.substr(0, member.id.indexOf(':')) }}<br/>{{ member.displayname ? "" : member.id.substr(member.id.indexOf(':')) }}</div>
                </td>
                <td class="userPresence" ng-class="(member.presence === 'online' ? 'online' : (member.presence === 'unavailable' ? 'unavailable' : '')) + ' ' + (member.membership == 'invite' ? 'invited' : '')">
                    <span ng-show="member.last_active_ago">{{ member.last_active_ago + (now - member.last_updated) | duration }}<br/>ago</span>
                </td>
        </table>
    </div>
    
    <div id="messageTableWrapper" keep-scroll>
        <!-- FIXME: need to have better timestamp semantics than the (msg.content.hsob_ts || msg.ts) hack below -->
        <table id="messageTable" infinite-scroll="paginateMore()">
            <tr ng-repeat="msg in events.rooms[room_id].messages"
                ng-class="(events.rooms[room_id].messages[$index + 1].user_id !== msg.user_id ? 'differentUser' : '') + (msg.user_id === state.user_id ? ' mine' : '')" scroll-item>
                <td class="leftBlock">
                    <div class="sender" ng-hide="events.rooms[room_id].messages[$index - 1].user_id === msg.user_id">{{ members[msg.user_id].displayname || msg.user_id }}</div>
                    <div class="timestamp"
                         ng-class="msg.echo_msg_state">
                        {{ (msg.content.hsob_ts || msg.ts) | date:'MMM d HH:mm' }}
                    </div>
                </td>
                <td class="avatar">
                    <img class="avatarImage" ng-src="{{ members[msg.user_id].avatar_url || 'img/default-profile.png' }}" width="32" height="32"
                         ng-hide="events.rooms[room_id].messages[$index - 1].user_id === msg.user_id || msg.user_id === state.user_id"/>
                </td>
                <td ng-class="!msg.content.membership ? (msg.content.msgtype === 'm.emote' ? 'emote text' : 'text') : 'membership text'">
                    <div class="bubble">
                        <span ng-if="'join' === msg.content.membership">
                            {{ members[msg.state_key].displayname || msg.state_key }} joined
                        </span>
                        <span ng-if="'leave' === msg.content.membership">
                            <span ng-if="msg.user_id === msg.state_key">
                                {{ members[msg.state_key].displayname || msg.state_key }} left
                            </span>
                            <span ng-if="msg.user_id !== msg.state_key">
                                {{ members[msg.user_id].displayname || msg.user_id }}
                                {{ {"join": "kicked", "ban": "unbanned"}[msg.content.prev] }}
                                {{ members[msg.state_key].displayname || msg.state_key }}
                                <span ng-if="'join' === msg.content.prev && msg.content.reason">
                                    : {{ msg.content.reason }}
                                </span>
                            </span>
                        </span>
                        <span ng-if="'invite' === msg.content.membership || 'ban' === msg.content.membership">
                            {{ members[msg.user_id].displayname || msg.user_id }}
                            {{ {"invite": "invited", "ban": "banned"}[msg.content.membership] }}
                            {{ members[msg.state_key].displayname || msg.state_key }}
                            <span ng-if="'ban' === msg.content.prev && msg.content.reason">
                                : {{ msg.content.reason }}
                            </span>
                        </span>                        
                        
                        <span ng-show='msg.content.msgtype === "m.emote"' ng-bind-html="'* ' + (members[msg.user_id].displayname || msg.user_id) + ' ' + msg.content.body | linky:'_blank'"/>
                        <span ng-show='msg.content.msgtype === "m.text"' 
                              ng-class="msg.echo_msg_state"
                              ng-bind-html="((msg.content.msgtype === 'm.text') ? msg.content.body : '') | linky:'_blank'"/>
                        <div ng-show='msg.content.msgtype === "m.image"'>
                            <div ng-hide='msg.content.thumbnail_url' ng-style="msg.content.body.h && { 'height' : (msg.content.body.h < 320) ? msg.content.body.h : 320}">
                                <img class="image" ng-src="{{ msg.content.url }}"/>
                            </div>
                            <div ng-show='msg.content.thumbnail_url' ng-style="{ 'height' : msg.content.thumbnail_info.h }">
                                <img class="image mouse-pointer" ng-src="{{ msg.content.thumbnail_url }}"
                                     ng-click="$parent.fullScreenImageURL = msg.content.url"/>
                            </div>
                        </div>
                    </div>
                </td>
                <td class="rightBlock">
                    <img class="avatarImage" ng-src="{{ members[msg.user_id].avatar_url || 'img/default-profile.png' }}" width="32" height="32"
                         ng-hide="events.rooms[room_id].messages[$index - 1].user_id === msg.user_id || msg.user_id !== state.user_id"/>
                </td>
            </tr>
        </table>
    </div>
    
    </div>
    </div>

    <div id="controlPanel">
        <div id="controls">
            <table id="inputBarTable">
                <tr>
                    <td id="userIdCell" width="1px">
                        {{ state.user_id }} 
                    </td>
                    <td width="*">
                        <input id="mainInput" ng-model="textInput" ng-enter="send()" ng-focus="true" autocomplete="off" tab-complete/>
                    </td>
                    <td id="buttonsCell">
                        <button ng-click="send()">Send</button>
                        <button m-file-input="imageFileToSend" class="extraControls">Image</button>
                    </td>
                </tr>
            </table>

            <div class="extraControls">
                <span>
                   Invite a user: 
                        <input ng-model="userIDToInvite" size="32" type="text" placeholder="User ID (ex:@user:homeserver)"/>     
                        <button ng-click="inviteUser(userIDToInvite)">Invite</button>
                </span>
                <button ng-click="leaveRoom()">Leave</button>
                <button ng-click="startVoiceCall()" ng-show="(currentCall == undefined || currentCall.state == 'ended') && memberCount() == 2">Voice Call</button>
            </div>
        
            {{ feedback }}
            <div ng-show="state.stream_failure">
                {{ state.stream_failure.data.error || "Connection failure" }}
            </div>
        </div>
    </div>

    <div id="room-fullscreen-image" ng-show="fullScreenImageURL" ng-click="fullScreenImageURL = undefined;">
        <img ng-src="{{ fullScreenImageURL }}"/>
    </div>

 </div>
