@import './themes.scss';
@import './animations.scss';
@import './bootstrap.min.css';
@mixin theme {
    @include dark;
}

html {
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 1.6rem;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    @include theme;
    background-color: $primary;
    color: $font;
    margin: auto;
    width: 48rem;
    max-width: 90%;
    text-align: center;
}

a {
    @include theme;
    color: $link;
    text-decoration: none;
    font-size: 0.6rem;
    line-height: 0.8rem;
}

a:hover {
    color: $link;
    text-decoration: none;
}

.invalid {
    border-color: $error;
}
.logo {
    position: absolute;
    top:0;
    right: 0;
    margin: 0.5rem;
}

.servername {
    position: absolute;
    margin-top: 0.5rem;
    margin-left: 0.5rem;
    color: darken(silver, 20%);
}


.buttonDisplay {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.keyDisplay {
    word-wrap: break-word;
}

button {
    @include rippler;
    border-radius: 5rem;
    font-size: 0.8rem;
    padding: 0.4rem 1.2rem;
    color: $font;
    background-color: $tertiary;
    border: none;
    display: inline-block;
    text-transform: capitalize;
    font-style: bold;
    color: $primary;
    // margin-left: 0.4rem;
    // margin-right: 0.4rem;
}

button:hover {
    background-color: $link;
}


button[disabled] {
    background-color: darken($secondary, 8%);
    color: lighten($font, 50%);
}

@mixin select {
    padding: 0.4rem;
    font-size: 1rem;
    background-color: $secondary;
    border-width: 0.1rem;
    border-radius: 0.5rem;
    color: lighten($font, 20%);
    margin-bottom: 1rem;
    border-style: solid;
    border-color: darken($secondary, 50%);
}

input {
    @include select;
    font-size: 0.6rem;
    border-style: none;
    background: white;
    border-radius: 4rem;
    color: $font;
    padding: 0.4rem 1.2rem;
}

pre {
    background: white;
    border-radius: 4rem;
    border-style: none !important;
    color: $font;
}

select {
    @include select;
    // -webkit-appearance: none;
    // -moz-appearance: none;
    // appearance: none;
    height: 1.6rem;
    font-size: 0.6rem;
    border-style: none;
    background: white;
    border-radius: 14rem;
    color: $font;
    padding: 0.6rem 1rem;

    &:after {
        content: ▸;
        transform: rotate(90deg);
        position: absolute;
    }
}

pre {
    padding: 0.4rem;
    font-size: 0.6rem;
    text-align: left;
    border-style: solid;
    border-color: darken($secondary, 50%);
    border-radius: 0.5rem;
    text-decoration: none;
}

.redButton {
    background-color: red;
}

.invalidInput {
    border-color: red;
}

h1 {
    @include theme;
    font-size: 1rem;
    margin: 1rem;
}

p {
    font-size: 0.6rem;
    line-height: 0.8rem;
}

label {
    font-size: 0.6rem;
    font-weight: 600;
}

input[type=checkbox] {
    margin-right: 0.4rem;
}

.card {
    text-align: left;
    border-style: none;
    background: $secondary;
    margin-bottom: 8px;
}

.card-header-tabs {
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
}


.baseintro {
    padding: 2rem 1rem;
}

.card-header {
    font-size: 0.8rem;
    border-style: none;
}

.active-card-header {
    cursor: pointer;
}

.inactive-card-header {
    cursor: not-allowed;
}

.blockwrapper {
    display: block;
}

.or {
    font-size: 0.6rem;
    margin-left: 0.4rem;
    margin-right: 0.4rem;
}

.buttonGroup {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.inlineError {
    color: $error;
    font-size: 0.6rem;
    line-height: 0.8rem;
    span {
        margin-left: 1rem;
    }
}

.chevron {
    float:right;
}

.tab-content {
    background-color: $smoke;
    padding: 1rem;
}

.nav-tabs .nav-link.active {
    border-color: transparent;
    background-color: $smoke;
    // border-bottom: 1px;
}

.nav-tabs .nav-link:hover {
    border-color: transparent;
    background-color: $smoke;
    // border-bottom: 1px;
}

.inputButton {
    margin-left: 0.6rem;
    font-size: 0.6rem;
}

.setupCompleteTitle {
    margin-left: 0;
    margin-top: 0;
}
