@mixin dark {
  $primary: #ffffff !global;
  $secondary: #f4f4f4 !global;
  $tertiary: #3b444b !global;
  $smoke: #ececec !global;
  $font:  #333 !global;
  $highlight: #4aeff0 !global;
  $link: #0098d4 !global;
  $error: #e32017 !global;
}
